<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="sdf,def" description="SDF" language="SDF" derivedFrom="DynamicRoot"></language>
       </extension>
       <extension id="org.strategoxt.imp.editors.sdf.parser" name="SDF Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="org.strategoxt.imp.editors.sdf.SDFParseController" language="SDF">
          </parser>
       </extension>    
    </plugin>